.picture {
    width: 50vw;
    border-style: double;

}

.bullets {
    background-color: lemonchiffon;
    font-size: 33px;
    font-family: cursive;
    text-align: left;
}

.hobbies {
    background-color: lavender;
    font-size: 55px;
    color: darkblue;
    font-family: sans-serif;
    text-align: center
}

.theme {
    background-color: white;
    text-align: center;
    border-style: dashed;

} 

.title {
    color: darkblue;
    font-size: 100px;
    background-color: lavender;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: double;
    box-shadow: 5px 10px #7f76ff;
}